<section class="section">
  <div class="container">
    <h1 class="title">
      Charts
    </h1>
    <p class="subtitle">
      Ruby Charts + Apache eCharts
    </p>
  </div>
</section>

<div class="columns">
  <div class="column">

    <h2 class="subtitle">line_chart #1</h2>

    <%= line_chart User.group(:age).count, class: 'box' %>

    <h2 class="subtitle">line_chart #2</h2>

    <%= line_chart User.distinct.pluck(:role).map{|e| {name: e, data: User.where(role: e).group_by_day(:created_at).count} },
      class: 'box',
      debug: false,
      code: false,
      theme: 'macarons',
      options: {
        toolbox: {
          show: true,
          feature: {
            saveAsImage: {}
          }
        }
      }
    %>

    <h2 class="subtitle">area_chart #1</h2>

    <%= area_chart User.group(:age).count,
      height: '250px',
      class: 'box',
      theme: 'vintage',
      options: {
        xAxis: {
          name: "Age"
        },
        yAxis: {
          name: "Count"
        },
        series: {
          name: "People Count"
        }     
      }
    %>

    <h2 class="subtitle">area_chart #2</h2>

    <%= area_chart User.distinct.pluck(:role).map{|e| {name: e, data: User.where(role: e).group_by_day(:created_at).count} },
      class: 'box',
      debug: false,
      theme: 'macarons'
    %>

    <h2 class="subtitle">area_chart #3</h2>

    <%= area_chart({10 => 24, 20 => 44, 30 => 57}, {false: true, debug: false}) %>

    <h2 class="subtitle">bar_chart #1</h2>

    <%= bar_chart User.group(:role).sum(:salary),
      class: 'box',
      theme: 'roma',
      xAxis: {
        axisTick: {
          alignWithLabel: true
        }
      }
    %>

    <h2 class="subtitle">bar_chart #2</h2>
    <%= bar_chart User.group(:role).average(:age),
      class: 'box',
      theme: 'sakura',
      options: {
        series: { 
          barWidth: '20%'
        }
      }
    %>

    <h2 class="subtitle">bar_chart #3</h2>
    <%= bar_chart Stat.distinct.pluck(:year).map{|e| {name: e, data: Stat.where(year: e).group(:country).sum(:amount)} },
      class: 'box',
      theme: 'dark',
      vertical: true,
      options: {
        legend: {
          title: 'World Population'
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          },
        }
      }
    %>

    <h2 class="subtitle">stacked_bar_chart #1</h2>
    <%= stacked_bar_chart [
        { name: 'high priority', data: Account.high_priority.group_by_month(:created_at, format: "%b %Y").count },
        { name: 'low priority', data: Account.low_priority.group_by_month(:created_at, format: "%b %Y").count }
      ],
      {
        options: {
          title: {
            text: "Popular vs Unpopular"
          },
        },
        code: false,
        class: 'box',
        vertical: true
      }
    %>
    
    <h2 class="subtitle">scatter_charts #1 simple</h2>
    <%= scatter_chart User.random_scatter_chart(500, 200),
      {
        code: false,
        debug: false,
        options: {
          series: {
            name: 'Random Data',
          },
          legend: {
            data: [
              {name: 'Random Data'}
            ]
          },
        },
        class: 'box',
      }
    %>

    <h2 class="subtitle">scatter_charts #2 multiple</h2>
    <%= scatter_chart [
        { name: 'John', data: User.random_scatter_chart(500, 200) },
        { name: 'Bob', data: User.random_scatter_chart(500, 1000) },
      ],
      {
        code: false,
        debug: false,
        class: 'box',
        options: {
          xAxis: {
            name: 'Distance'
          },
          yAxis: {
            name: 'Sales'
          },          
          legend: {
            data: [
              {name: 'John'},
              {name: 'Bob'},
            ]
          },
        },
      }
    %>     

    <br>

    <div class="columns">
      <div class="column is-half">
        <h2 class="subtitle">pie_chart #1</h2>
        <%= pie_chart User.group(:role).count, 
          radius: '70%',
          class: 'box',
          options: {
            legend: { orient: 'vertical', left: 'left' }
          }
        %>
      </div>
      <div class="column is-half">
        <h2 class="subtitle">donut_chart #1</h2>
        <%= donut_chart User.group(:role).count, 
          class: 'box',
          options: {
            legend: {
              bottom: '0'
            },
            emphasis: { 
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              } 
            }
          }
        %>
      </div>
    </div>

    <h2 class="subtitle">area_chart + zoom #1</h2>

    <%= area_chart DataPoint.pluck(:event_date, :value),
      class: 'box',
      code: false,
      debug: false,
      options: {
        xAxis: {
          type: 'time'
        },
        series: {
          type: 'line'
        },        
        dataZoom: [
          {
            start: 0,
            end: 50
          },
        ],
        toolbox: {
          show: true,
          feature: {
            dataZoom: {
              yAxisIndex: 'none'
            },
            dataView: { readOnly: false },
            magicType: { type: ['line', 'bar'] },
            restore: {},
            saveAsImage: {}
          }
        }
      }
    %>

    <h2 class="subtitle">radar_chart #1</h2>

    <%= radar_chart User.get_data_for_radar_chart,
      class: 'box',
      options: {
        legend: {
          data: ['Average Salaries', 'Maximum Salary'],
          orient: 'vertical',
          left: '20%'
        }
      }
    %>

    <h2 class="subtitle">radar_chart + code: true</h2>

    <%= radar_chart User.get_data_for_radar_chart,
      class: 'box',
      theme: 'dark',
      code: true
    %>

    <h2 class="subtitle">calendar_chart #1</h2>

    <%= calendar_chart Commit.for_calendar_chart,
      class: 'box',
      code: false
    %>

    <div class="columns">
      <div class="column is-one-third">
        <h2 class="subtitle">funnel_chart #1</h2>
        <%= funnel_chart User.get_funnel_sample_data,
          class: 'box',
          height: '400px',
          options: {
            title: {
              text: 'Demo',
              left: 'center'
            }
          }
        %>
      </div>
      <div class="column is-one-third">
        <h2 class="subtitle">funnel_chart #2</h2>
        <%= funnel_chart User.get_funnel_sample_data,
          class: 'box',
          height: '400px',
          options: {
            title: {
              text: 'Funnel'
            },
            toolbox: {
              feature: {
                dataView: { readOnly: false },
                restore: {},
                saveAsImage: {}
              }
            },
            legend: {
              data: ['Show', 'Click', 'Visit', 'Inquiry', 'Order'],
              top: 30,
              textStyle: {
                fontSize: '10'
              }
            }
          }
        %>      
      </div>
      <div class="column is-one-third">
        <h2 class="subtitle">gauge_chart #1</h2>
        <%= gauge_chart User.get_gauge_sample_data,
          class: 'box',
          height: '400px',
          options: {
            title: {
              text: 'Demo',
              left: 'center'
            }
          }
        %>
      </div>      
    </div>

    <h2 class="subtitle">custom_chart #1</h2>

    <div class="box">
      <%= custom_chart User.custom_gause_data %>
    </div>

  </div>
</div>

