<section class="section">
  <div class="container">
    <h1 class="title">
      Charts
    </h1>
    <p class="subtitle">
      Ruby Charts + Apache eCharts
    </p>
  </div>
</section>

<div class="columns">
  <div class="column">

    <h2 class="subtitle">line_chart #1</h2>

    <%= line_chart User.group(:age).count, class: 'box' %>

    <h2 class="subtitle">line_chart #2</h2>

    <%= line_chart User.distinct.pluck(:role).map{|e| {name: e, data: User.where(role: e).group_by_day(:created_at).count} },
      width: 'auto',
      class: 'box',
      theme: 'london',
      toolbox: RailsCharts.toolboxes[:download_image_zoom]
    %>

    <h2 class="subtitle">area_chart #1</h2>

    <%= area_chart User.group(:age).count,
      width: 'auto', 
      height: '250px',
      class: 'box',
      theme: 'vintage',
      x_title: "Age",
      y_title: "Count",
      tooltip: RailsCharts.tooltips[:axis]
    %>

    <h2 class="subtitle">area_chart #2</h2>

    <%= area_chart User.distinct.pluck(:role).map{|e| {name: e, data: User.where(role: e).group_by_day(:created_at).count} },
      class: 'box',
      width: 'auto',
      theme: 'infographic',
      toolbox: RailsCharts.toolboxes[:download_image_stack_tiled],
      tooltip: RailsCharts.tooltips[:axis]
    %>

    <h2 class="subtitle">area_chart #3</h2>

    <%= area_chart({10 => 24, 20 => 44, 30 => 57}) %>

    <h2 class="subtitle">bar_chart #1</h2>

    <%= bar_chart User.group(:role).sum(:salary),
      width: 'auto',
      class: 'box',
      theme: 'roma',
      tooltip: RailsCharts.tooltips[:axis],
      xAxis: {
        axisTick: {
          alignWithLabel: true
        }
      }
    %>

    <h2 class="subtitle">bar_chart #2</h2>

    <%= bar_chart User.group(:role).average(:age),
      width: 'auto',
      class: 'box',
      theme: 'sakura',
      tooltip: RailsCharts.tooltips[:axis_shadow],
      series_options: { barWidth: '20%', } 
    %>

    <h2 class="subtitle">bar_chart #3</h2>

    <%= bar_chart Stat.distinct.pluck(:year).map{|e| {name: e, data: Stat.where(year: e).group(:country).sum(:amount)} },
      style: "margin: 0 auto",
      width: 'auto',
      class: 'box',
      theme: 'dark',
      tooltip: RailsCharts.tooltips[:axis_shadow],
      legend: {
        title: 'World Population'
      },
      vertical: true,
      toolbox: RailsCharts.toolboxes[:download_image]
    %>

    <br>

    <div class="columns">
      <div class="column is-half">
        <h2 class="subtitle">pie_chart #1</h2>
        <%= pie_chart User.group(:role).count, 
          radius: '70%',
          class: 'box',
          legend: { orient: 'vertical', left: 'left' },
          tooltip: RailsCharts.tooltips[:item], 
          emphasis: { 
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            } 
          }
        %>
      </div>
      <div class="column is-half">
        <h2 class="subtitle">donut_chart #1</h2>
        <%= donut_chart User.group(:role).count, 
          class: 'box',
          legend: {
            bottom: '0'
          },
          tooltip: RailsCharts.tooltips[:item], 
          emphasis: { 
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            } 
          }
        %>
      </div>
    </div>

    <h2 class="subtitle">area_chart + zoom #1</h2>

    <%= area_chart DataPoint.pluck(:event_date, :value).to_h,
      class: 'box',
      toolbox: RailsCharts.toolboxes[:download_image_data_zoom],
      other_options: {
        dataZoom: [
          {
            start: 50,
            end: 80
          },
        ]
      }
    %>

    <h2 class="subtitle">radar_chart #1</h2>

    <%= radar_chart User.get_data_for_radar_chart,
      class: 'box',
      tooltip: RailsCharts.tooltips[:item],
      legend: {
        data: ['Average Salaries', 'Maximum Salary'],
        orient: 'vertical',
        left: '20%'
      }
    %>

    <h2 class="subtitle">radar_chart + code: true</h2>

    <%= radar_chart User.get_data_for_radar_chart,
      class: 'box',
      theme: 'dark',
      tooltip: {},
      code: true
    %>

    <h2 class="subtitle">calendar_chart #1</h2>

    <%= calendar_chart Commit.for_calendar_chart,
      class: 'box',
      tooltip: {},
      code: false
    %>


    <div class="columns">
      <div class="column is-one-third">
        <h2 class="subtitle">funnel_chart #1</h2>
        <%= funnel_chart User.get_funnel_sample_data,
          class: 'box',
          height: '400px',
          title: {
            text: 'Demo',
            left: 'center'
          },
          tooltip: {},
          code: false
        %>
      </div>
      <div class="column is-one-third">
        <h2 class="subtitle">funnel_chart #2</h2>
        <%= funnel_chart User.get_funnel_sample_data,
          class: 'box',
          height: '400px',
          title: {
            text: 'Funnel'
          },
          toolbox: {
            feature: {
              dataView: { readOnly: false },
              restore: {},
              saveAsImage: {}
            }
          },
          legend: {
            data: ['Show', 'Click', 'Visit', 'Inquiry', 'Order'],
            top: 30,
            textStyle: {
              fontSize: '10'
            }
          },
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c}%'
          },
          code: false
        %>      
      </div>
      <div class="column is-one-third">
        <h2 class="subtitle">gauge_chart #1</h2>
        <%= gauge_chart User.get_gauge_sample_data,
          class: 'box',
          height: '400px',
          title: {
            text: 'Demo',
            left: 'center'
          },
          tooltip: {},
          code: false
        %>
      </div>      
    </div>

    <h2 class="subtitle">custom_chart #1</h2>

    <div class="box">
      <%= custom_chart User.custom_gause_data %>
    </div>

  </div>
</div>

