<section class="section">
  <div class="container">
    <h1 class="title">
      Charts
    </h1>
    <p class="subtitle">
      Ruby Charts + Apache eCharts
    </p>
  </div>
</section>

<div class="columns">
  <div class="column">

    <%= render 'line_chart' %>
    <%= render 'area_chart' %>
    <%= render 'bar_chart' %>
    <%= render 'stacked_bar_chart' %>
    <%= render 'scatter_chart' %>

    <br>
    <%= render 'pie_donut_chart' %>
    <%= render 'radar_chart' %>

    <%= render 'calendar_chart' %>
    <%= render 'funnel_chart' %>

    <div class="columns">
      <div class="column is-one-third">
       <%= render 'gauge_chart' %>
      </div>
      <div class="column is-two-third">
       <%= render 'custom_chart' %>
       </div>  
    </div>

    <%= render 'parallel_chart' %>
    <%= render 'parallel_chart' %>



  </div>
</div>

